body{
	background-image: url("galleria.JPG");	
	background-repeat:no-repeat;	
	background-attachment: fixed;
	background-size: cover;
}


.thumbnail {
	margin-top: 300px;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 0px;  
    background-color: #88cad4; 
    height: 250px;
    width:800px;
    
}

.btn {	
	background-color: #d7eb88; 
	margin-bottom: 10px;
	margin-top: 20px;
}

.btn:hover{
	background-color:  #8aebc9;
}

