body{
	background-image: url("galleria.JPG");	
	background-repeat:no-repeat;	
	background-attachment: fixed;
	background-size: cover;
}


.thumbnail {
	margin-top: 80px;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 250px;  
    background-color: #88cad4; 
    height: 200px;
    width:770px;
    
}

.btn {	
	background-color: #d7eb88; 
	margin-bottom: 10px;
	margin-top: 20px;
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.btn:hover{
	background-color:  #8aebc9;
}

