<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>    
<link href="css/bootstrap.min.css" rel="stylesheet" media="screen"/>
<link href="css/allAuthors.css" rel="stylesheet" media="screen"/>
<title>Authors</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">TheGallery</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/showAllPictures">Pictures</a></li>
      <li><a href="/showAuthorList">Authors</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="/personalArea"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>


	<div th:if="${not #lists.isEmpty(authors)}">
		<h2>Authors</h2>
		<table class="table table-hover" id="myTable">
		    <thead>
			<tr>
				<th onclick="sortTable(0)">Name</th>
				<th onclick="sortTable(1)">Surname</th>
				<th onclick="sortTable(2)">Nationality</th>
				<th onclick="sortTable(3)">Date of Birth</th>
				<th onclick="sortTable(4)">Date of Death</th>
				<th>Azioni</th>
			</tr>
			</thead>
			<tr th:each="author : ${authors}">
				<td th:text="${author.name}"></td>
				<td th:text="${author.surname}"></td>
				<td th:text="${author.nationality}"></td>
				<td th:text="${author.birthDate}"></td>
				<td th:text="${author.deathDate}"></td>
				<td>
					<form action="#" th:action="@{${postMode}}" method="post">
						<input id="authorId" name="authorId" type="hidden" th:value="${author.id}" />
						<button type="submit" th:onClick="${onClickSelect}">
							<span th:text="${selectText}" />
						</button>
					</form>
				</td>
			</tr>
		</table>
	</div>
	<form>
		<input type="button" name="submit" value="Come back"
			th:onclick="${backPage}" />
	</form>


</body>
</html>