<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0"/>    
<link href="css/bootstrap.min.css" rel="stylesheet" media="screen"/>
<link href="css/insert.css" rel="stylesheet" media="screen"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
    <body>
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">TheGallery</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/showAllPictures">Pictures</a></li>
      <li><a href="/showAuthorList">Authors</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="/personalArea"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
    
       <div class="container">
    <div class="row">
        <div class="col-md-offset-5 col-md-3">  
        <div class="thumbnail">   
        <form action="#" th:action="@{/author}" th:object="${author}"
		method="post">
		<div>
			<input type="hidden" th:field="*{id}" />
			<div>
				<span>Name: </span> <span><input type="text"
					th:field="*{name}" /></span> <span th:if="${#fields.hasErrors('name')}">Required field</span>
			</div>
			<div>
				<span>Surname: </span> <span><input type="text"
					th:field="*{surname}" /></span> <span
					th:if="${#fields.hasErrors('surname')}">Required field</span>
			</div>
			<div>
				<span>Nationality: </span> <span><input type="text"
					th:field="*{nationality}" /></span> <span
					th:if="${#fields.hasErrors('nationality')}">Required field</span>
			</div>
			<div>
				<span>Birth Date: </span> <span><input type="date"
					placeholder="GG-MM-AAAA" th:field="*{birthDate}" /></span> <span
					th:if="${#fields.hasErrors('birthDate')}">format error</span>
			</div>
			<div>
				<span>Death Date: </span> <span><input
					type="date" placeholder="GG-MM-AAAA" th:field="*{deathDate}" /></span> <span
					th:if="${#fields.hasErrors('deathDate')}">format error</span>
			</div>
		</div>
		
	<div class="btn-group btn-group-lg">
	<input  class="btn btn-default" type = "submit" name = "submit" 
	value = "Insert"  /> 
	<input class="btn btn-default" type="button" name="submit" value="Come back"
				onclick="location.href='personalArea.html'" />		
  </div>		
	</form>
        </div>
            </div>        
        </div>
    </div>
    </body>
</html>