<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>    
<link href="css/bootstrap.min.css" rel="stylesheet" media="screen"/>
<link href="css/authorResult.css" rel="stylesheet" media="screen"/>
<title>Author</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
    <div id="custom-bootstrap-menu" class="navbar navbar-default " role="navigation">
    <div class="container-fluid">
        <div class="navbar-header"><a class="navbar-brand" href="#">The Gallery</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-menubuilder">
            <ul class="nav navbar-nav navbar-left">
                 <li><a href="/">Home</a>
                </li>
                <li><a href="/showAllPictures">Pictures</a>
                </li>
                <li><a href="/showAuthorList">Authors</a>
                </li>
                <li><a href="/personalArea">Personal Area</a>
                </li>
            </ul>
        </div>
    </div>
</div>
	<div>
    	<p th:text="'Author: ' + ${author.name} + '  ' + ${author.surname}" />
    </div>
	<div>
    	<p th:text="'Name: ' + ${author.name}" />
    </div>
	<div>
    	<p th:text="'Surname: ' + ${author.surname}" />	
    </div>
    <div>
    	<p th:text="'Nationality: ' + ${author.nationality}" />	
    </div>
    <div>
    	<p th:text="'Birth Date: ' + ${author.birthDate}" />	
    </div>
    <div>
    	<p th:text="' Date: ' + ${author.deathDate}" />	
    </div>

</body>
</html>