<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>    
<link href="css/bootstrap.min.css" rel="stylesheet" media="screen"/>
<link href="css/authorResult.css" rel="stylesheet" media="screen"/>
<title>Author</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<body>
	<div>
    	<p th:text="'Author: ' + ${author.name} + '  ' + ${author.surname}" />
    </div>
	<div>
    	<p th:text="'Name: ' + ${author.name}" />
    </div>
	<div>
    	<p th:text="'Surname: ' + ${author.surname}" />	
    </div>
    <div>
    	<p th:text="'Nationality: ' + ${author.nationality}" />	
    </div>
    <div>
    	<p th:text="'Birth Date: ' + ${author.birthDate}" />	
    </div>
    <div>
    	<p th:text="' Date: ' + ${author.deathDate}" />	
    </div>

</body>
</html>