<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0"/>    
<link href="css/bootstrap.min.css" rel="stylesheet" media="screen"/>
<link href="css/insert.css" rel="stylesheet" media="screen"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
    <body>
    
    <div id="custom-bootstrap-menu" class="navbar navbar-default " role="navigation">
    <div class="container-fluid">
        <div class="navbar-header"><a class="navbar-brand" href="#">The Gallery</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-menubuilder">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/">Home</a>
                </li>
                <li><a href="/allPictures">Pictures</a>
                </li>
                <li><a href="/allAuthors">Authors</a>
                </li>
                <li><a href="/personalArea">Personal Area</a>
                </li>
            </ul>
        </div>
    </div>
</div>
        <form action="#" th:action="@{/picture}" th:object="${picture}" method="post">
            <div>
                <div>
                    <span th:text="#{label.title}">Title: </span>
                    <span><input type="text" th:field="*{title}" /></span>
                    <span th:if="${#fields.hasErrors('title')}" th:text="#{label.mandatory}">Error</span>
                </div>
                <div>
                    <span th:text="#{label.year}">Year: </span>
                    <span><input type="text" th:field="*{year}" /></span>
                    <span th:if="${#fields.hasErrors('year')}" th:text="#{label.mandatory}">Error</span>
                </div>
                <div>
                    <span th:text="#{label.technique}">Technique: </span>
                    <span><input type="text" th:field="*{technique}" /></span>
                    <span th:if="${#fields.hasErrors('technique')}" th:text="#{label.mandatory}">Error</span>
                </div>
                <div>
                    <span th:text="#{label.length}">Length: </span>
                    <span><input type="text" th:field="*{length}" /></span>
                    <span th:if="${#fields.hasErrors('length')}" th:text="#{label.mandatory}">Error</span>
                </div>
                <div>
                    <span th:text="#{label.height}">Height: </span>
                    <span><input type="text" th:field="*{height}" /></span>
                    <span th:if="${#fields.hasErrors('height')}" th:text="#{label.mandatory}">Error</span>
                </div>
                <div>
                    <span><button type="submit">Submit</button></span>
                </div>
            </div>
        </form>
    </body>
</html>