<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
  <head>
    <title>Registration</title>
 <meta name="viewport" content="width=device-width, initial-scale=1.0"/>    
<link href="css/bootstrap.min.css" rel="stylesheet" media="screen"/>
<link href="css/insert.css" rel="stylesheet" media="screen"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">TheGallery</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/showAllPictures">Pictures</a></li>
      <li><a href="/showAuthorList">Authors</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="/personalArea"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>


       <div class="container">
    <div class="row">
        <div class="col-md-offset-5 col-md-3">  
        <div class="thumbnail">    
	<form action="#" th:action = "@{/register}" th:object = "${user}" method = "POST">
			<div>Username : <input type = "text" th:field = "*{username}"/> 
				<span th:if="${#fields.hasErrors('username')}" th:errors = "*{username}">Error</span>
				<span th:if ="${usExist}" style= "color:red">This username already exist</span> 
			</div>
			
			<div style = "margin-top:10px">Password: <input type = "password" id ="Password" th:field = "*{password}" th:value ="${confermaPassword}"/> 
				<span th:if="${#fields.hasErrors('password')}" th:errors = "*{password}">Error</span>
			</div>
			
			<div style = "margin-top:10px">Email: <input type = "text" th:field = "*{email}"/> 
				<span th:if="${#fields.hasErrors('email')}" th:errors = "*{email}">Error</span>
			</div>
			
			<div>
			<input type="submit" value="Register" id="submit"/>
			</div>	
	 </form>
            </div>        
        </div>
        </div>
        </div>

</body>
</html>